.settingsMP{
    display: flex;
    flex-direction: column;
    width: 600px; 
    position: fixed;
    right: 0px;
    min-height: 80%;
    border-radius: 15px;
    overflow: hidden;
    margin: 5px;
    border: 1px solid var(--color3);
}
.settings-header{
    display: flex;
    flex-direction: column;
    background: var(--color1);
    padding: 5px;
    height: 40px;
    border-bottom: 2px solid var(--color2);
    color: var(--color3);
    justify-content: center;
    font-weight: bold;
}
.settingsPage{
    display: flex;
    flex-direction: row;
    background-color: var(--color1);
    color: var(--color3);
    width: 600px;    
    position: absolute;
    top: 40px;
    height: 100%;
    

}
.buttonB {
    color: rgb(224 224 225);
    margin: 10px;
    padding: 5px;
    min-width: 110px;
    min-height: 40px;
    width: fit-content;
    border: 2px solid transparent;
    border-radius: 10px;
    background: linear-gradient(to right, #414052, #414052), radial-gradient(circle at 50% 50%, #c70fff, #a510ff, #5114ff, #1951fe, #1fcffe, #24fdbe, #28fd70, #29fd53);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}
.sittingsNav{
    padding-top: 15px;
    width: 200px;
}
.pages{
    border: none;
    background-color: #181820;
    width: 100%;
    padding: 20px;
}
.sittingsB{
    background: none;
    color: var(--color3);
    width: 100%;
    border: none;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    margin: 10px 0 10px 0;
    padding: 10px 0px 10px 10px;
}
p{
    padding-left: 5px;
}
.ex{
    color: var(--color3);
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 25px;
    background: none;
    border: none;
    border-radius: 50px;
    height: 25px;
}
.forms{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
}
.inputF {
    position: relative;
    width: 250px
}
.inputF input{ 
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(255, 255,255, 0.25);
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: var(--color3);
    font-size: 1em;
    transition: 0.5s;
}
.inputF span{
    position: absolute;
    left: 0px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(255, 255,255, 0.25);
    text-transform: uppercase;
    transition: 0.3s;
}
.inputF input:focus ~ span{
    color: #29fd53;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0 10px;
    background-color: var(--color2);
    border-left: 1px solid #29fd53;
    border-right: 1px solid #29fd53;
    letter-spacing: 0.2em;
}
.inputF input:focus {
    border: 1px solid #29fd53;
}
.acf{
    display: flex;
    flex-direction: column;
}
.loginButton{
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}
@media only screen and (max-device-width: 750px) {
    .sPage{
        position: fixed;
        right: 0;
    }
}