.oH{
  overflow: hidden;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poopins", sans-serif;
}
:root {
  --color1: #21212b;
  --color2: #181820;
  --color3: #e0e0e1;
}
body{
  background: var(--color2)
}
.maWtSe{
  display: flex;
}