.main{
  background-image: url(https://source.unsplash.com/2000x1000/?landscape);
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 90%;
    max-width: 420px;
    min-width: 290px;
    margin: 2em;
    position: relative;
  }
  
  .tran {
    position: absolute;
    top: 0;
  }
  .test {
    margin-top: 10px;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .form{
    width: 100%;
    padding: 25px;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 50px solid #0000;
    flex-direction: column;
  }
  .button {
    border: none;
    position: absolute;
    background: none;
    margin: 9px;
    color: #fff;
    right: 30px;
  }
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #000000d0;
    color: white;
    font-family: inherit;
    font-size: 100%;
    width: 100% ;
  }
  .error{
    color: rgb(231, 12, 12);
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  button:hover {
    background: #7c7c7c9b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  .weather.loading:after {
    visibility: visible;
  }
  
  .loader.loading {
    visibility: visible;
  }
  .loader {
    margin-top: 35px;
    display: flex;
    align-items: flex-end;
    transform: translateY(-35px);
  }
  .loader span {
    width: 20px;
    height: 20px;
    background: #222327;
    margin: 0 10px;
    height: calc(20px * var(--i));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.25s * var(--i));
  }
  @keyframes animate {
    0% {
      background: #fff;
      filter: blur(2px);
      box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
        0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 3000px #00b3ff,
        0 0 400px #00b3ff;
    }
    25%,
    75% {
      background: #111;
      filter: blur(0px);
      box-shadow: none;
    }
    100% {
      background: #fff;
      filter: blur(2px);
      box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
        0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 3000px #00b3ff,
        0 0 400px #00b3ff;
    }
  }
  .loader span i {
    display: block;
    font-style: normal;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    transform: translateY(70px);
    animation: animate2 2s linear infinite;
    animation-delay: calc(0.25s * var(--i));
  }
  @keyframes animate2 {
    0% {
      color: #fff;
      filter: blur(2px);
      text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
        0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 3000px #00b3ff,
        0 0 400px #00b3ff;
    }
    25%,
    75% {
      color: #111;
      filter: blur(0px);
      text-shadow: none;
    }
    100% {
      color: #fff;
      filter: blur(0px);
      text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
        0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 3000px #00b3ff,
        0 0 400px #00b3ff;
    }
  }
  .testIf{
    position: absolute;
    top: 10px;
    left: 15px;
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
  }